@font-face {
font-family: "华康少女";
src: url("font/华康少女体W5(P).ttf");
}

.SmallBlock
{
	float:left;
	margin:1em;
	padding:1em;
	width:17em;
	height:12em;
/*	border:1px solid black; */
	background-color:#FFD2FF;
}

.singleCharacter
{
	text-align:center;
	font-size:6em;
	font-family:华康少女;
	line-height:2em;
}